/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav li {
    display: inline-block;
    
}

#nav .subnav {
    display: none;
}

#nav li:hover a {
    color: #000!important;
    background-color: #ccc!important;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: inline-block;
}

#slider {

}

#content {

}

#footer {

}


