/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}
#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    padding-left: 12px;
    line-height: 38px;
}

#nav > li a:hover,
#nav > li:hover > a {
    color: #000!important;
    background-color: #ccc!important;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46px;

}
#slider {

}

#content {

}

#footer {

}


